{% macro grid(posts) -%}
<div class="row">
    {% for column in posts %}
        <div class="column">
        {% for post in column %}
        <div class="work">
            <a href="/listing/{{post.id}}"><img class="hvr-float" src="{{ post.image_path }}"></a>
            <p class="price"><b>{{ "$%.2f"|format(post.price) }}</b></p>
        </div>
        {% endfor %}
        </div>
    {% endfor %}
    </div>
</div>
{%- endmacro %}

{% macro single(post, tags) -%}
<div class="post">
    <a href="/profile/{{post.artist.username}}"><h5>{{ post.artist.username }}</h5></a>
    <a href="/listing/{{post.id}}"><img src="{{ post.image_path }}"></a>
    <p>Tags: {{ tags }}</p>
    <p>{{ post.caption }}</p>
</div>
{%- endmacro %}